@media (min-width: 1921px) {
  /* All screens larger than 1920px */
}

@media (min-width: 768px) {
	/* All screens larger than 768px */
	.gap30 a{
		margin-right: 20px;
	}
}
@media (min-height: 900px) {
	.girl {
		right: 38%;
	}
}

@media (max-width: 1920px) {
  /* 1920px screen and all screens smaller */
}

@media (max-width: 1680px) {
  /* 1680px screen and all screens smaller */
}

@media (max-width: 1440px) {
  /* 1440px screen and all screens smaller */
}

@media (max-width: 1280px) {
  /* 1280px screen and all screens smaller */
}

@media (max-width: 1194px) {
  /* 1194px screen and all screens smaller */
	.girl, .boy {
		display: none;
	}
	.bg-wrapper {
		padding: 25px 50px;
	}
	main {
		gap: 150px;
	}
}

@media (max-width: 1024px) {
  /* The smallest iPad in landscape mode and super old desktops and laptops */
	main.flex {
		display: block;
	}
	.heart-block_wrapper {
		width: 100%;
		height: 500px;
		margin-left: 0;
	}
	.join-block {
		background: none;
		margin: 100px auto;
		height: auto;
		width: auto;
	}
	.bg {
		background-size: cover;
	}
	.join-us-num {
		display: flex;
	}
	.join-us-num_text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-right: 15px;
	}
	.join-steps {
		margin: auto;
	}
	.popup-close {
		display: block;
		top: -6%;
    right: 0%;
		height: 32px;
    width: 32px;
	}
	.popup-close__image{
		height: 100%;
	}
}

@media (max-width: 1024px) and (orientation: portrait) {
  /* A tablet version in portrait mode */
}

@media (max-width: 767px) and (orientation: portrait) {
  /* A mobile version for all devices that is smaller than the smalles iPad */
}

@media (max-width: 767px) {	
	.cloud-1 {
		background-image: url(images/cloud-1-m.png);
		background-size: contain;
	}
	.cloud-2 {
		background-image: url(images/cloud-2-m.png);
	}
	.about, .contacts {
		display: none;
	}
	.bg-wrapper {
		padding: 20px 15px;
	}
	header.flex {
		display: block;
	}
	.mobile-menu-open {
		display: block;
	}
	.logo_heart img {
		width: 30px;
		height: 28px;
	}
	.logo_dorogazhizni img {
		width: 88px;
		height: 24px;
	}
	.logo_heart {
		position: absolute;
		left: calc(50% - 15px);
	}
	main {
		margin: 50px 0;
	}
	.hashtag {
		font-size: 20px;
		line-height: 26px;
	}
	.heart-h2 {
		font-weight: bold;
		font-size: 16px;
		line-height: 20.8px;
	}	
	.heart-h2 .reload {
		display: inline-block;
		width: 22px;
		height: 22px;
		background-size: contain;
		margin-left: 20px;
		top: 7px;
	}
	.heart-h1 .reload {
		display: none;
	}
	.heart-block {
		margin-top: 40px;
	}
	.boy {
		display: block;
		width: 75px;
		height: 121px;
		margin-top: -230px;
	}
	footer.flex.flex-between {
		display: block;
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 100px;
	}
	.iskra-studio {
		justify-content: center;
		margin-top: 25px;
	}
	.join-block {
		margin: 75px auto 100px;
	}
	.heart-block_wrapper {
		height: 400px;
	}
	.popup-image {
		display: none;
	}
	.popup-box {
    max-width: initial;
    padding: 50px 50px;
	}
}

@media (max-width: 500px) {
	/*.join-block {
		margin: -25px auto 50px;
	}*/
	.popup-box {
    max-width: initial;
    padding: 50px 30px;
	}
	
	#popup-svg {
    height: 540px;
	}
}

@media (max-width: 467px) {
	.heart-block_wrapper {
		height: 350px;
	}
	/*.join-block {
		margin: -125px auto 50px;
	}*/
}

@media (max-width: 400px) {
	.heart-block_wrapper {
		height: 320px;
	}
	/*.join-block {
		margin: -150px auto 50px;
	}*/
}

@media (max-width: 320px) {
	#popup-svg {
    height: 480px;
	}
	.popup-box {
		font-size: 14px;
	}
}

@media (max-height: 900px) and (min-width: 1024px) {
	main {
		margin: 50px 0;
	}
	.bg-wrapper {
		padding: 20px 82px;
	}
	.join-steps {
		margin-top: 30px;
	}	
	.heart-block {
		height: calc(100% - 150px);
	}
	.join-block {
		height: 280px;
		margin-right: -25px;
	}
	.girl {
		height: 240px;
	}
}

/* form page style */

@media (max-width: 1024px) {
	.form{
		display: flex !important;
		flex-wrap: wrap;
	}
	.form__column_right{
		padding: 0;
		padding-bottom: 60px;
		margin-bottom: 40px;
		order: -1;
	}
	.form__column{
		width: 100%;
		max-width: 500px;
		text-align: center;
	}
	.form__logos {
		justify-content: center;
	}
	.form__text {
		max-width: 500px;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.form__title {
		font-size: 20px;
		line-height: 130%;
	}
	.form__radio{
		width: 80px;
	}
	.form__radio svg{
		width: 80px;
	}
	.form__column{
		max-width: 400px;
	}
	.form__submit-block {
		margin-top: 30px;
	}
	.form__submit {
		height: 45px;
	}
	.form__submit-bg {
		height: 45px;
	}
}


/*---GALLERY PAGE---START*/
@media(max-width: 767px) {
	.gallery .gallery__title {
		font-size: 20px;
	}

	.gallery .gallery__content .gallery__box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 12px;
		margin-top: 12px;
	}

	.gallery__item .item__text--sm {
		width: 100.05%;
		height: 50px;
	}

	.gallery__item .item__text > span {
		font-size: 15px;
	}

	.gallery__item .item__text--sm > span{
		top: 20px;
	}

	.gallery__item--1 {
		grid-row: 1 / span 1;
		grid-column: 1 / span 1;
		border-color: #376EB3;
		color: #376EB3;
	}

	.gallery__item--1 .item__text {
		background-color: #E3EFFF;
	}

	.gallery__item--2 {
		grid-row: 1 / span 1;
		grid-column: 2 / span 1;
		border-color: #F73E49;
		color: #F73E49;
	}

	.gallery__item--2 .item__text {
		background-color: #FFE8EB;
	}

	.gallery__item--3 {
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
		border-color: #F73E49;
		color: #F73E49;
	}

	.gallery__item--3 .item__text {
		background-color: #FFE8EB;
	}

	.gallery__item--4 {
		grid-row: 2 / span 1;
		grid-column: 2 / span 1;
		border-color: #F73E49;
		color: #F73E49;
	}

	.gallery__item--4 .item__text {
		background-color: #FFE8EB;;
	}

	.gallery__item--5 {
		grid-row: 3 / span 1;
		grid-column: 1 / span 1;
		border-color: #376EB3;
		color: #376EB3;
	}

	.gallery__item--5 .item__text {
		background-color: #E3EFFF;
	}

	.gallery__item--6 {
		grid-row: 3 / span 1;
		grid-column: 2 / span 1;
		border-color: #376EB3;
		color: #376EB3;
	}

	.gallery__item--6 .item__text {
		background-color: #E3EFFF;;
	}

	.gallery__item--7 {
		grid-row: 4 / span 1;
		grid-column: 1 / span 1;
		border-color: #F73E49;
		color: #F73E49;
	}

	.gallery__item--7 .item__text {
		background-color: #FFE8EB;;
	}

	.gallery__item--8 {
		grid-row: 4 / span 1;
		grid-column: 2 / span 1;
		border-color: #F73E49;
		color: #F73E49;
	}

	.gallery__item--8 .item__text {
		background-color: #FFE8EB;;
	}
}

/*---GALLERY PAGE---END*/