@font-face{font-family:'CeraPro-Regular';src:url('fonts/CeraPro-Regular.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'CeraPro-Bold';src:url('fonts/CeraPro-Bold.woff2') format('woff2');font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Zhizn';src:url('fonts/Zhizn.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap}

body {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 20.8px;
	font-family: 'CeraPro-Regular';
	color: #444448;
	position: relative;
}
a {
	color: #444448;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.bg-wrapper {
	padding: 25px 82px;
}
.bg {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
	z-index: -1;
}
.cloud-1 {
	background-image: url(images/cloud-1.png);
}
.cloud-2 {
	background-image: url(images/cloud-2.png);
	background-position: bottom right;
	top: auto;
	height: 420px;
}
.girl {
    background-image: url(images/girl.png);
    background-repeat: no-repeat;
    height: 290px;
    width: 208px;
    bottom: 0;
    top: auto;
    right: 34%;
    left: auto;
}
.flex {
    display: flex;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
	justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.flex_items-center {
	align-items: center;
}
.flex_items-right {
	align-items: flex-end;
}
.gap10 {
	gap: 10px;
}
.gap25 {
	gap: 25px;
}
.gap30 {
	gap: 30px;
}
.color-blue {
	color: #376EB3;
}
.color-red {
	color: #F73E49;
}
.bold, b {
	font-weight: 700;
	font-family: 'CeraPro-Bold';
}
.big-text {
	font-size: 20px;
	line-height: 26px;
}
.hashtag {
    font-size: 30px;
    line-height: 39px;
	margin-top: 15px;
    text-transform: uppercase;
	font-family: 'Zhizn';
	display: inline-block;
}
.reload {
    background-image: url(images/reload.svg);
    width: 32px;
    height: 32px;
    display: inline-block;
	position: relative;
    top: 5px;
	margin-left: 30px;
}
main {
    margin: 100px 0;
}
.heart-block_wrapper {
	text-align: center;
	width: 50%;
	position: relative;
	margin-left: 50px;
}
.heart-block {
    background-image: url(images/heart-big.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}
.join-block {
    background-image: url(images/cloud-3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 311px;
    width: 357px;
	text-align: center;
}
.join-num {
	font-size: 50px;
	font-family: 'Zhizn';
}
.join-us {
    background-image: url(images/join-us.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 183px;
    height: 55px;
	margin: 20px 0 15px;
}
.boy {
    background-image: url(images/boy.png);
    top: auto;
    bottom: auto;
    left: auto;
    width: 139px;
    height: 225px;
    margin-top: -50px;
	z-index: 1;
}
.join-steps {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: max-content;
    margin: auto;
    margin-top: 50px;
	margin-left: 50px;
}
.step-name {
	font-family: 'Zhizn';
}